body {
	border:0px;
	overflow:hidden;
	background: #CC5422;
	font-family: 'Roboto Condensed','Trebuchet MS',sans-serif;
	color: #FFFFFF;
	height: 100%;
	background: url('../_media/background.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

canvas { 
	font-family: 'Roboto Condensed','Trebuchet MS',sans-serif;
}

#intro {
	font-size:150%;
	padding: 20px;

}